<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<h1>메인 페이지</h1>
<hr>
<a sec:authorize="isAnonymous()" th:href="@{/user/login}"
    style="width: 100%; /* 가로를 줄임 */
           margin: 40px auto;
           color: #fff;
           background-color: #007bff;
           border-radius: 10px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           padding: 10px;">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}"
   style="width: 100%; /* 가로를 줄임 */
           margin: 40px auto;
           color: #fff;
           background-color: #007bff;
           border-radius: 10px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           padding: 10px;">로그아웃</a>
<a sec:authorize="isAnonymous()" th:href="@{/user/signup}"
   style="width: 100%; /* 가로를 줄임 */
           margin: 40px auto;
           color: #fff;
           background-color: #007bff;
           border-radius: 10px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           padding: 10px;">회원가입</a>
</body>
</html>